*{
    padding: 15px;
}
body{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
div{
    border: solid #AF0B0E 15px;
    margin: 15px auto;
}
div p {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
div> div> div{
    background-color: aqua;
}
div> div{
    background-color: antiquewhite;
}
div {
    background-color: blueviolet;
}
p+div {
    color: red;
}
div div div p{
    color: #0C7C07;
}